---
titleBlog: <%= defaultTitle %>  # Lo-Dash template working here!!
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{>header}}
</head>
<body>
  {{>bodyMain}}
  {{#markdown}}
  {{/markdown}}
  <hr/>
  {{#pagination posts 2 2}}
  {{/pagination}}
</body>
</html>